.search-container{
    width:500px;
    display: flex;
    height:50px;
}
.search-input{
    background: #fff;
    font-size: 16px;
    font-weight:bold; 
    width: 100%; 
    padding: 10px 33px; 
    border-radius: 9px 0px 0px 9px;
    border-bottom:3px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    outline: none;
}
.search-input:focus{
  border-bottom:3px solid #023f88;
  box-sizing:none;

  /* background-color: #023f88; */
}
.search-btn{
    background:#023f88;
    padding: 0 25px;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 0px 9px 9px 0px;
    font-weight:800;
    border-bottom:3px solid #023f88;
}
.search-btn:hover{
    background: #000;
    border-bottom:3px solid #000000;
}

.margin{
    margin-right:35px;
}

.mr{
  margin-right:8px;
}
.width-250px{
    width:250px;
}

.under-nav{
  height:50px;
  background-color:rgb(243, 243, 243);
  display:flex;
  padding-left:25px;
  padding-right:25px;
  
}

.under-nav-item p{
   cursor:pointer;
   margin:10px;
}

.under-nav-item p:hover{
    color: #D71920;
}
.menu-btn{
    font-size:2em;
    border:none;
    color:#D71920;
}

.delivery-list:hover{
   background-color:rgb(219, 219, 219);
}

.animate-me{
    transition: 1s;
    left: 0;
}

.main-header{
    background-Color:#fff;
    width:340px;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    box-Shadow:10px 1px 19px -14px rgba(0,0,0,0.75);
}
.main-header-head{
    background-color:#D71920;
    width:100%;
    padding:10px 10px 10px 25px;
    color:#fff;
    cursor: pointer;
}

.head-btn{
    border:2px solid #fff;
    padding:5px;
    width:45%;
}
.nav-item{
    margin-bottom:20px;
    cursor: pointer;
}
.nav-item:hover{
    color:rgb(185, 144, 8);
}

.mobile-nav{
    background-color: #023f88;
    position:fixed;
    bottom:0;
    color: #fff;
    width:100%;
    z-index:100;
    box-shadow: 2px -7px 5px 0px rgba(0, 0, 0, 0.425);
    text-align: center;
    padding:10px;
}