.product-card{
    border:1px solid rgba(0, 0, 0, 0.301);
    width:250px;
    text-align: center;
    padding:10px;
    border-radius:8px;
    text-decoration:none;
    color: rgb(19, 19, 19);;
    height:330px;
}
.product-card a{
    text-decoration:none;
}
.product-card-img{
     width:100px;
     height:150px;
}
.product-card:hover{
    border:1px solid rgb(0, 69, 219);
}
.product-card p{
    font-size:1.2em;
    margin-top:2px;
}
.product-card h5{
    color:#dd2400;
}
.product-card-btn{
    border:none;
    background-color:#dd2400;
    color:#fff;
    padding :8px 20px 8px 20px;
    border-radius:5px;
    font-size:1.1em;
}

.heart-btn{
   border:none;
   color:#fff;
   font-size:1.4em;
   border-radius:50%;
}
.heart-btn:hover{
    background-color:#dd2400;
 }

.product-card-simple{
    text-align: center;
}
.product-card-simple a{
 text-decoration:none;
}

.product-card-simple p{
    color:rgb(15, 15, 15);
    margin-top:8px;
    font-weight: 700;
}
.product-card-simple h5{
    color: #dd2400;
}

.location-item{
    border:1px solid rgba(17, 17, 17, 0.418);
    width:40vw;
    margin-bottom:25px;
    border-radius:8px;
    cursor:pointer;
}
.location-item:hover{
    background-color: #dd2400;
    color: #fff;
}

.location-item p{
    margin-top:10px;
    margin-left:25px;
    font-weight:600;
}